<form style="display: flex; flex-direction: column; justify-content: center;">
    <MatFileUpload
        Label="Drop files here or Browse"
    />
        
    <BaseFormInputs/>
</form>

@code {
    
}