<form style="display: flex; flex-direction: column; justify-content: center;">
    <MatTextField
        @bind-Value="@Text"
        Label="Text"
        Outlined="true"
        TextArea="true"
        Style="margin: 2vh;"
    />
        
    <BaseFormInputs/>
</form>

@code {
    public string Text { get; set; } = String.Empty;
}