<h3>InputForm</h3>

<form>
    <label for="key">Key</label>
    <input type="text" name="key" id="key">

    <MatButton
        Raised="true"
        OnClick="A"
        Type="submit"
    >
        Submit
    </MatButton>
</form>

@code {
    private void A() {

    }
}
