@inherits LayoutComponentBase

<PageTitle>os-project</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <MudMainContent>
        @Body
    </MudMainContent>
</div>
